body {
	background: #EEEEEE;
	font-family: Bitstream Vera Sans, Verdana;
}
h1 {
  text-align: center;
  font-size: 24px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 16px;
}
a.menu {
  margin-right: 10px;
}
a {
  font-weight: bold;
	color: #3333ff;/*78821/27587/19705/7882*/
}
a:visited {
	color: #6633dd;
}
a:hover {
  text-decoration: none;
}

img {
	border: none;
}
div.code {
	background-color:#CCCCCC;
	padding: 4px 14px;
  margin-left: 18px;
  margin-right: 18px;
	font-family: monospace;
  white-space: pre;
}
p {
  padding-left: 10px;
	font-family: Bitstream Vera Sans, Verdana;
}
