body {
  background: #fff;
  color: #000;
  font-family: sans-serif;
  margin: 0px;
}
.header h1 {
  margin: 0px;
  font-size: 24px;
  text-align: center;
}
h2 {
  font-size: 20;
}
h3 {
  font-size: 16px;
}
.content h2, .changelog h1 {
  border-bottom: 3pt solid #ccc;
  font-size: 140%;
}
.content h1 {
  font-size: 160%;
}
.changelog h1 {
  font-size: 100%;
  padding: 0;
  margin: 0;
}
div.header {
  margin: 0px;
  margin-bottom: 20px;
  padding: 10px;
  background: #fff;
  color: #000;
  border-bottom: 0.3em solid black;
}
div.curve {
  border-top-left-radius:  10em 1em;
  border-top-right-radius: 10em 1em;
  height: 1em;
  background: #eee;
  margin-top: 1em;
  color: red;
}
div.content {
  margin: 0 5ch;
  margin-top: -0.5em;
}
div.menu {
  text-align: center;
}
div.menu a {
  margin-left: 10px;
}
a {
  font-weight: bold;
  color: #3333ff;
}
a:visited {
  color: #6633dd;
}
a:hover {
  text-decoration: none;
}
img {
  border: none;
  max-width: 100%;
}
div.code, .content pre {
  background-color: #CCCCCC;
  color: #111;
  padding: 4px 14px;
  margin-left: 18px;
  margin-right: 18px;
  font-family: monospace;
  white-space: pre;
  /*box-shadow: 0 0 5pt 1pt #555;*/
  border-radius: 5pt;
  overflow: auto;
}
p {
  padding-left: 10px;
  font-family: sans-serif;
}
hr {
  border: 0px hidden black;
  border-bottom: 0.5em solid #ccc;
  margin: 0px -5ch;
}

/* workaround to fix misalignment of block elements in the android4.1
 * default browser.  See:
 * https://code.google.com/p/android/issues/detail?id=40186 */
p, h1, h2, h3 { background: url(""); }
