body {
  background: #EEEEEE;
  color: #000000;
  font-family: sans-serif;
  margin: 0px;
}
h1 {
  margin: 0px;
  font-size: 24px;
  text-align: center;
}
h2 {
  font-size: 20;
}
h3 {
  font-size: 16px;
}
div.header {
  margin: 0px;
  padding: 0px;
  padding-bottom: 5px;
  background: black;
  color: #ddd;
}
div.header a {
  color: #8ac;
}
div.curve {
  background: url(curve.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 20px;
}
div.content {
  margin: 5ch;
}
div.menu {
  text-align: center;
}
div.menu a {
  margin-left: 10px;
}
a {
  font-weight: bold;
  color: #3333ff;
}
a:visited {
  color: #6633dd;
}
a:hover {
  text-decoration: none;
}
img {
  border: none;
}
div.code {
  background-color :#CCCCCC;
  color: #111;
  padding: 4px 14px;
  margin-left: 18px;
  margin-right: 18px;
  font-family: monospace;
  white-space: pre;
}
p {
  padding-left: 10px;
  font-family: sans-serif;
}
hr {
  border: 0px hidden black;
  border-bottom: 0.5em solid #ccc;
  margin: 0px -5ch;
}
