body {
  background: #EEEEEE;
  color: #000000;
  font-family: sans-serif;
}
h1 {
  font-size: 24px;
  text-align: center;
}
h2 {
  font-size: 20;
}
h3 {
  font-size: 16px;
}
div.menu {
  text-align: center;
}
div.menu a {
  margin-left: 10px;
}
a {
  font-weight: bold;
  color: #3333ff;
}
a:visited {
  color: #6633dd;
}
a:hover {
  text-decoration: none;
}
img {
  border: none;
}
div.code {
  background-color :#CCCCCC;
  color: #111;
  padding: 4px 14px;
  margin-left: 18px;
  margin-right: 18px;
  font-family: monospace;
  white-space: pre;
}
p {
  padding-left: 10px;
  font-family: sans-serif;
}
